<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ settings.title }}</title>
    <meta name="description" content="{{ settings.description | default(settings.title) }}">
    <meta name="generator" content="{{ eleventy.generator }}">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ process.env.URL | default('http://localhost:8080') }}{{ page.url }}">
    <meta property="og:site_name" content="{{ settings.title }}">
    <meta property="og:locale" content="{{ settings.locale }}">
    <meta property="og:title" content="{{ settings.title }}">
    <meta property="og:description" content="{{ settings.description | default(settings.title) }}">
    <meta property="og:image" content="{{ settings.image }}">
    <meta property="og:image:width" content="{{ settings.imageWidth }}">
    <meta property="og:image:height" content="{{ settings.imageHeight }}">
    <meta property="og:image:alt" content="{{ settings.imageAlt }}">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="page_{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}{% if class %} page_{{ class }}{% endif %}">
    <header>
      <a href="/"><img src="{{ settings.logo }}" alt="{{ settings.name }}" /></a>
      <nav aria-label="Main">
        <ul>
          {% for entry in collections.all | eleventyNavigation %}
            {% if entry.url != '/' %}  {# Exclude home page #}
              <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <img src="/assets/img/michelin-2024.png" alt="Michelin 2024" class="michelin">
    </header>    
    <main>
      {% if title and title != 'Home'  %}
        <header>
          <h1>
            {{ title }}
          </h1>
        </header>
      {% endif %}
      {{ content | safe }}
    </main>
    <footer>
      <div class="logo-address">
        <img src="{{ footerlinks.logo }}" alt="The Old Rectory Cursive Logo" />
        {{ footerlinks.address | safe }}
      </div>
      <div>
        <ul class="secondary">
          {% for item in footerlinks.secondary %}
            <li>
              <a href="{{ item.url }}">{{ item.title | safe }}</a>
            </li>
          {% endfor %}  
        </ul>
        <ul class="socials">
          {% for item in footerlinks.socials %}
            <li>
              <a href="{{ item.url }}">{{ item.icon | safe }}</a>
            </li>
          {% endfor %}
        </ul>              
        <ul class="socials">
          {% for item in footerlinks.socials %}
            <li>
              <a href="{{ item.url }}">{{ item.icon | safe }}</a>
            </li>
          {% endfor %}
        </ul>        
      </div>
      <p>
        &copy; {{ settings.author }} &amp; respective copyright holders
      </p>
    </footer>
  </body>
</html>
