:root {
  --primary: oklch(51.47% 0.2812 261.53);
  --secondary: oklch(76.76% 0.3281 145.06);
  --light: oklch(1 0 0); /* white */
  --dark: oklch(0 0 0); /* black */
  --content-bg: maroon;
  --blue: rgba(37, 41, 68, 1);
  --blue-tint: rgba(37, 41, 68, 0.1);
  --michelin-red: rgba(189, 35, 52, 1);

  --font-small: 0.85em;
  --font-smaller: 0.7em;
  --spacing-medium: 0.02em;
  --spacing-large: 0.04em;


  /* heading responsive text */
  --hdg_min-fs: 2.75;
  --hdg_max-fs: 6.5;
  --hdg_min-vw: 25;
  --hdg_max-vw: 50;

  --hdg_min-fs-rem: var(--hdg_min-fs) * 1rem;
  --hdg_max-fs-rem: var(--hdg_max-fs) * 1rem;
  --hdg_min-vw-rem: var(--hdg_min-vw) * 1rem;

  --hdg_slope: (var(--hdg_max-fs) - var(--hdg_min-fs)) * (100vw - var(--hdg_min-vw-rem)) / (var(--hdg_max-vw) - var(--hdg_min-vw));

  --h2: 0.6;
  --h3: 0.4;
  --h4: 0.1625;

  /* copy responsive text */
  --copy_min-fs: 1;
  --copy_max-fs: 1.5;
  --copy_min-vw: 25;
  --copy_max-vw: 35;

  --copy_min-fs-rem: var(--copy_min-fs) * 1rem;
  --copy_max-fs-rem: var(--copy_max-fs) * 1rem;
  --copy_min-vw-rem: var(--copy_min-vw) * 1rem;

  --copy_slope: (var(--copy_max-fs) - var(--copy_min-fs)) * (100vw - var(--copy_min-vw-rem)) / (var(--copy_max-vw) - var(--copy_min-vw));

  /* primary color variants */
  --primary-light-20: color-mix(in oklch, var(--primary), oklch(1 0 0) 20%);
  --primary-light-40: color-mix(in oklch, var(--primary), oklch(1 0 0) 40%);
  --primary-light-60: color-mix(in oklch, var(--primary), oklch(1 0 0) 60%);
  --primary-light-80: color-mix(in oklch, var(--primary), oklch(1 0 0) 80%);
  --primary-dark-20: color-mix(in oklch, var(--primary), oklch(0 0 0) 20%);
  --primary-dark-40: color-mix(in oklch, var(--primary), oklch(0 0 0) 40%);
  --primary-dark-60: color-mix(in oklch, var(--primary), oklch(0 0 0) 60%);
  --primary-dark-80: color-mix(in oklch, var(--primary), oklch(0 0 0) 80%);

  /* secondary color variants */
  --secondary-light-20: color-mix(in oklch, var(--secondary), oklch(1 0 0) 20%);
  --secondary-light-40: color-mix(in oklch, var(--secondary), oklch(1 0 0) 40%);
  --secondary-light-60: color-mix(in oklch, var(--secondary), oklch(1 0 0) 60%);
  --secondary-light-80: color-mix(in oklch, var(--secondary), oklch(1 0 0) 80%);
  --secondary-dark-20: color-mix(in oklch, var(--secondary), oklch(0 0 0) 20%);
  --secondary-dark-40: color-mix(in oklch, var(--secondary), oklch(0 0 0) 40%);
  --secondary-dark-60: color-mix(in oklch, var(--secondary), oklch(0 0 0) 60%);
  --secondary-dark-80: color-mix(in oklch, var(--secondary), oklch(0 0 0) 80%);

  /* light color dark variants */
  --light_dark-20: color-mix(in oklch, var(--light), oklch(0 0 0) 20%);
  --light_dark-40: color-mix(in oklch, var(--light), oklch(0 0 0) 40%);
  --light_dark-60: color-mix(in oklch, var(--light), oklch(0 0 0) 60%);
  --light_dark-80: color-mix(in oklch, var(--light), oklch(0 0 0) 80%);

  /* dark color light variants */
  --dark_light-20: color-mix(in oklch, var(--dark), oklch(1 0 0) 20%);
  --dark_light-40: color-mix(in oklch, var(--dark), oklch(1 0 0) 40%);
  --dark_light-60: color-mix(in oklch, var(--dark), oklch(1 0 0) 60%);
  --dark_light-80: color-mix(in oklch, var(--dark), oklch(1 0 0) 80%);
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothic.ttf') format('ttf')
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothicBold.ttf') format('ttf');
  font-weight: 700;
}

h1 {
  font-size: clamp(var(--hdg_min-fs-rem), var(--hdg_min-fs-rem) + var(--hdg_slope), var(--hdg_max-fs-rem));
}

h2 {
  font-size: clamp(calc(var(--hdg_min-fs-rem) * var(--h2)), calc((var(--hdg_min-fs-rem) + var(--hdg_slope)) * var(--h2)), (calc(var(--hdg_max-fs-rem) * var(--h2))));
}

h3 {
  font-size: clamp(calc(var(--hdg_min-fs-rem) * var(--h3)), calc((var(--hdg_min-fs-rem) + var(--hdg_slope)) * var(--h3)), (calc(var(--hdg_max-fs-rem) * var(--h3))));
}

h4 {
  font-size: clamp(calc(var(--hdg_min-fs-rem) * var(--h4)), calc((var(--hdg_min-fs-rem) + var(--hdg_slope)) * var(--h4)), (calc(var(--hdg_max-fs-rem) * var(--h4))));
}

body:not(.page_articles) main {
  font-size: clamp(var(--copy_min-fs-rem), var(--copy_min-fs-rem) + var(--copy_slope), var(--copy_max-fs-rem));
  /* max-width: 85ch; */
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100dvh;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif; 
  overflow-x: hidden;
  color: var(--blue);
}

body > header {
  padding: 0.5rem 1rem;
  column-gap: 2rem;
  background: var(--light);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

h1 {
  margin: 2rem 0 0;
}

/* .hello {
  max-width: 70ch;
} */


@media screen and (min-width: 1200px) {
  .hello {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto 1fr;
  }
}

.hello ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 2vw);
  align-items: start;
  grid-area: 2 / 2 / 4 / 3;
}

.hello h1 {
  grid-column: 1/-1;
}

.hello li img {
  object-position: left top;
}

.hello li.store-beatles-desktop {
  grid-column: 1 / span 8;
  grid-row: 4 / span 12;  
}

.hello li.store-beatles-mobile {
  grid-column: 7 / span 4;
  grid-row: 3 / span 20;  
}

.hello li.store-queen-desktop {
  grid-column: 20 / span 8;
  grid-row: 2 / span 12;  
}

.hello li.store-queen-mobile {
  grid-column: 27 / span 4;
  grid-row: 3 / span 20;  
}

.hello li.store-stones-mobile {
  grid-column: 20 / span 4;
  grid-row: 8 / span 12;  
}

.hello li.store-stones-desktop {
  grid-column: 22 / span 8;
  grid-row: 9 / span 20;  
}


.hello li.store-bobmarley-desktop {
  grid-column: 10 / span 8;
  grid-row: 2 / span 12;  
}

.hello li.store-elton-mobile {
  grid-column: 17 / span 4;
  grid-row: 1 / span 20;  
}

.hello li.store-elton-desktop {
  grid-column: 9 / span 8;
  grid-row: 6 / span 12;  
}

.hello li.store-bobmarley-mobile {
  grid-column: 14 / span 4;
  grid-row: 4 / span 20;  
}


/* .hello li[class$="mobile"] {
  grid-column: span 4;
  grid-row: span 16; 
}

.hello li[class$="desktop"] {
  grid-column: span 8;
  grid-row: span 3; 
} */


.hello ul img {
  filter: drop-shadow(0 0.2em 0.25em rgba(0, 0, 0, 0.3));
}

.hello p {
  font-size: 1.5em;
}

/* a[href^="https://"]:after {
  content: "↗";
  display: inline-block;
  margin-left: 0.125em;
  font-size: 0.85em;
  font-weight: bold;
} */

header > a {
  font-weight: bold;
  font-weight: 500;
  font-size: 2.25em;
  text-decoration: none;
  /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important; */
  letter-spacing: -0.02em;  
}

header > a span {
  letter-spacing: -0.08em;
}

header a {
  color: var(--dark);
}

body > header img {
  max-height: 65px;
  padding: 0.25rem;
  min-height: 40px; 
}

header ul, footer ul, .clients ul {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.clients ul {
  column-gap: 4rem;
  justify-content: center;
  row-gap: 2rem;
}

main li:has(figure) {
  list-style-type: none;
  padding: 0;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.page_gallery main {
  max-width: none;
}

.page_gallery figure {
  margin-top: 1rem;
}

.page_gallery figure img {
  margin-top: -3rem;
}

.page_gallery figcaption {
  position: sticky;
  top: 1rem;
  margin: 0 0 0 1rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  background: white;
  display: inline-block;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;  
}

figure {
  margin: 0;
}

@keyframes image-slide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-45%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    opacity: 0.2;
  }
}

/* @keyframes image-fade {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
} */

.clients figure {
  height: 5.75rem;
  text-align: center;
  font-size: 0.6em;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.clients figure img {
  position: relative;
  z-index: 1;
}

.clients li a {
  position: relative;
}

.text-width, .page_gallery main header {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.gallery-images {
  margin: 0 -2rem;
  padding: 0;
}

.gallery-images figure {
  display: flex;
  flex-direction: column;
}

.store-stones-desktop img {
  max-width: 1200px;
}

/* .clients li a:after {
  content: "→";
  position: absolute;
  top: -50%;
  transform: translate(-50%,-50%);
} */

.clients img {
  aspect-ratio: 16/9;
}

.clients .aspect-4-3 img {
  aspect-ratio: 4/3;
}

main {
  max-width: 130ch;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  justify-self: center;
}

a {
  color: var(--blue);
  text-decoration: none;

}


/* main a, summary::after {
  color: blue;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.15em;
  text-decoration-color: aqua;
  text-decoration-skip-ink: auto;
  transition: text-decoration-thickness 300ms, text-underline-offset 300ms;
} */

/* main a:hover {
  text-underline-offset: -0.85em;
  text-decoration-thickness: 1em;
  text-decoration-skip-ink: none;  
} */

/* header > a {
  white-space: nowrap;
} */


footer {
  padding: 1rem;
  /* background: var(--secondary);
  color: var(--light); */
  text-align: center;
  max-width: 130ch;
  margin: 0 auto;  
  font-weight: bold;
  font-size: var(--font-small);
  letter-spacing: var(--spacing-large);
  text-transform: uppercase;
}

.logo-address {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  text-transform: uppercase;
  border-top: double 7px var(--blue-tint);
  padding: 1rem 3vw;
}

.copyright {
  border-top: double 7px var(--blue-tint);
  display: inline-flex;
  padding: 1rem 3vw;  
}

.copyright a {
  text-decoration: underline;
}

.certification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--michelin-red);
  font-weight: normal;
  margin-bottom: 1em;
}

.certification p {
  text-align: left;
  margin-left: 0.5em;
}

.certification strong {
  display: block;
}

.certification img {
  max-height: 65px;
}

behold-widget {
  margin: 2rem 0;
}

.socials, .secondary {
  justify-content: center;
}

.secondary a {
  text-decoration: underline;
}

footer ul {
  column-gap: 1rem;
}

footer ul li p {
  margin: 0 .025rem;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
    /* font-weight: 500; */
    line-height: 1;
}

/* h1, h2, h3, h4 {
  margin: 0 0 0.25rem 0;
  letter-spacing: -0.035em;
} */

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

input, textarea {
  display: block;
}

section h2 {
  grid-column: 1/-1;  
}

/* .testimonials article p:nth-child(2)::before,  */

details {
  position: relative;
}



details span {
  content: '“';
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 0; /* Prevents extra line height */
  vertical-align: middle; /* Aligns the quote vertically */  
}

.testimonials img {
  max-height: 120px;
  border-radius: 50%;
}

summary {
  cursor: pointer;
}

summary::marker, ::-webkit-details-marker {
  display: none;
  content: "";
}

/* summary::after {
  content: ""; 
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;  
  transform: rotate(-45deg);
} */

summary::after {
  content: "show more↓";
  font-size: 0.75em;
  display: block;
  line-height: 2;
  /* position: relative;
  left: -0.275em;   */
}

details[open] summary::after {
  content: "show less↑";
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
}

details[open] + p {
  margin-top: 3rem;
}

.testimonials {
  text-align: center;
  font-size: 0.9em;
}

/* .testimonials article p:first-of-type {
  margin: 0;
} */
/* 
.testimonials p, .testimonials summary {
  margin: 1rem 0;
}

.testimonials p:nth-child(1) {
  margin: 0;
} */

.testimonials article:has(details[open]) {
  display: flex;
  flex-direction: column;
}

article {
  margin-bottom: 4rem;
}

/* details[open] summary {
  width: 0;
  height: 0;
}

details[open] summary {rticle
  visibility: hidden;
} */

/* details[open] summary::marker {
  display: block;
} */

.testimonials img {
  margin: 0 auto;
}

@media screen and (min-width: 39.5em) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;    
    /* grid-auto-rows: auto; */
    column-gap: 2rem;
    align-items: start;
  }
  
  .testimonials article {
    display: grid;
    grid-column: span 6;    
    grid-row: span 3;
    grid-template-rows: auto auto 1fr;         
    margin-bottom: 4rem;
  }

  /* 2 column layout */
  /* Dealing with single orphan */
  article:last-child:nth-child(2n + 1) {
    grid-column-end: 10;
  }


  @supports (grid-template-rows: subgrid) {
    .testimonials article {
      grid-row: span 3;
      grid-template-rows: subgrid;
    }
  }
}

@media screen and (min-width: 60em) {
  .testimonials article {
    grid-column: span 4;   
  }

  /* 3 column layout */
  /* Dealing with 2 orphan items */
  article:last-child:nth-child(3n - 1) {
    grid-column-end: -3;
  }

  article:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 7;
  }

  /* Dealing with single orphan */
  article:last-child:nth-child(3n - 2) {
    grid-column-end: 9;
  }  

  /* hmmmmm... */
  article:last-child:nth-child(2n + 1) {
    grid-column-end: -1;
  }  

  article:last-child:nth-child(3n + 2) {
    grid-column-end: 11;
  } 
}

p.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  letter-spacing: -0.02em;
}

.small {
  font-size: 0.7em;
  /* line-height: 1.2; */
}

.small strong {
  line-height: 1.85;
}

.page_articles article p {
 margin: 0.5rem 0;
}

.page_articles article p:first-of-type a {
  color: inherit;
  text-decoration: none;
 }

.page_articles article {
  display: grid;
  margin-bottom: 2rem;
}

time {
  order: -1;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media only screen and (min-width: 95ch) {
  .page_articles section {
    display: grid;
    column-gap: 1.5rem;  
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr auto auto auto;
  }

  .page_articles article {
    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;
  }
  time {
    font-size: 0.8rem;
  }
}

.h2:has(+ .timedate) {
  margin-top: -1rem;
}

.links-nextprev {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 4em;
  padding-top: 2em;
  font-size: 0.85em;
}

.links-nextprev li {
  list-style-type: none;
}

.links-nextprev a {
  font-size: 1.5em;
  font-weight: 500;
}

.links-nextprev-next {
  text-align: right;
}

.links-nextprev-next {
  margin-left: auto;
}

.page_post main {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto auto 1fr auto; */
}

/* home page  */

.section-block {
  text-align: center;
  text-decoration: uppercase;
  text-transform: uppercase;
  margin-bottom: 2em;
  letter-spacing: 0.085em;
  text-wrap: balance;
  padding: 0 0.5em;
}

.section-block h2 {
  margin: 0;
}

/* @media screen and (min-width: 50em) {
  .page_home main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

main header {
  /* margin-left: -1rem;
  margin-right: -1rem;
  position: relative; */
  /* background: #252944; */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;  
  max-height: 20em;
  overflow-y: clip;
  margin-bottom: 1rem;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
  top: 50%;
  filter:  brightness(0) invert(1);
  max-height: 12em;
}

.hero {
  width: 100%;
}

body > header {
  position: relative;
}

@media screen and (min-width: 50em) {
  .page_home .section-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: start; */
  }  

  .page_home .section-panel:nth-child(even) .image {
    order: 1;
  }

  /* .page_home main header {
    grid-column: 1 / -1;
  } */
}

.cta {
  background: var(--blue);
  color: var(--light);

}

.copy {
  display: grid;
  align-content: center;  
  text-align: center;
}

.copy p {
  text-transform: uppercase;
  display: block;
  text-wrap: balance;
  text-justify: inter-word;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.cta {
  background: var(--blue);
  color: var(--light);
  font-size: 0.6em;
  padding: 0.85em 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.cta::after {
  content: '→';
  margin-left: 0.5em;
  font-size: 1.25em;
  transition: all 0.1s ease-out;
}

.cta:hover::after {
  margin-left: 0.75em;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

/* navaroonie */


.michelin {
  transform: rotate(4deg);
  max-height: 90px;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  z-index: 1;
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  margin: 0;
  flex-direction: column;  
  /* overflow-x: scroll;
  flex-wrap: nowrap;   */
}

nav ul li {
  flex-shrink: 0;
}

nav ul li a {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  padding: 1rem 2rem;
}


/* HAMBURGER MENU (for mobile) */
.hamburger {
  position: absolute;
  top: 32px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1002;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--blue);
  transition: 0.3s;
}

.close-btn {
  position: absolute;
  top: 13px;
  right: 0; 
  z-index: 1002;
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
}  

.active {
  display: flex;
}

nav {
  position: absolute;
  top: 32px;
  right: 10px;  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  transition: 0.5s;
  flex-direction: column;
}

nav a {
  width: 100%;
}

nav ul {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .michelin {
    display: block;
  }
  nav {
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
  }
  nav ul {
    flex-direction: row;  
  }
  nav ul li a {
    display: inline-block;
    width: auto;
    padding: 0.375rem 0.75rem;
  }
    .close-btn {
    display: none;
  }  
}
