:root {
  --light: oklch(1 0 0); /* white */
  --dark: oklch(0 0 0); /* black */
  --blue: rgba(37, 41, 68, 1);
  --blue-tint: rgba(37, 41, 68, 0.1);
  --michelin-red: rgba(189, 35, 52, 1);
  --white: rgba(255, 255, 255, 1);
  --orange: rgba(162, 62, 26, 1);
  --lightblue: rgba(101, 131, 155, 1);
  --mustard: rgba(223, 201, 116, 1);
  --green: rgba(120, 134, 108, 1);
  --font-smaller: 0.7em;
  --font-small: 0.85em;
  --font-resp-small: clamp(0.95em, 1.9vw, 1em);
  --font-resp-medium: clamp(1em, 2vw, 1.125em);
  --spacing-medium: 0.025em;
  --spacing-large: 0.05em;
  --spacing-larger: 0.075em;
  --spacing-largest: 0.1em;
  --shadow-medium: 1px 1px 8px rgba(0,0,0,0.35);
  --shadow-heavy: 1px 1px 32px rgba(0,0,0,0.85), 1px 1px 48px rgba(0,0,0,0.35);  
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothic.ttf') format('ttf');
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothicBold.ttf') format('ttf');
  font-weight: 700;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100dvh;
  overflow-x: hidden;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif; 
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: var(--spacing-large);
  background: var(--light);
  color: var(--blue);
}

img, svg {
  display: block;
  max-width: 100%;
}

img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

input, button, textarea, select {
  font: inherit;
}

/* themed sections  */

.subpage_treatment-rooms {
  background: var(--mustard);
}

.subpage_treatment-rooms hr {
  border-color: rgba(255,255,255,0.3);
}

.subpage_food-and-drink hr {
  border-color: rgba(255,255,255,0.2);
}

body.subpage_our-rooms {
  background: var(--blue);
}

body.subpage_food-and-drink {
  background: var(--orange);
}

body.subpage_food-and-drink {
  background: var(--orange);
}

body.subpage {
  color: var(--white);
}

body.subpage footer, body.subpage footer a {
  color: var(--white);
}

body.subpage footer img[src$=".svg"] {
  filter: brightness(0) invert(1);
}

body.subpage footer, body.subpage footer::before, body.subpage .copyright {
  border-color: rgba(255,255,255,1);
}

body.subpage:not(.subpage_treatment-rooms) button {
  background: var(--white);
  color: var(--blue);  
}

body.subpage input {
  background: rgba(255,255,255,0.3);  
}

body.subpage_weddings {
  background: var(--lightblue);
  color: var(--light)
}

/* header */

body > header {
  padding: 0.5rem 1rem;
  background: var(--light);
  color: var(--blue);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

body > header img {
  padding: 0.25rem;
}

.michelin {
  transform: rotate(4deg);
  max-height: 90px;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  z-index: 1;
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  top: 32px;
  right: 10px;  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  transition: 0.5s;
  flex-direction: column;
}

nav a {
  width: 100%;
}

nav ul {
  width: 100%;
}

nav ul {
  margin: 0;
  flex-direction: column;
  padding-top: 30px;
  /* overflow-x: scroll;
  flex-wrap: nowrap;   */
}

nav ul li {
  flex-shrink: 0;
}

nav ul li a {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  padding: 1rem 2rem;
}

/* HAMBURGER MENU (for mobile) */
.hamburger {
  position: absolute;
  top: 16px;
  right: 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1002;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--blue);
  transition: 0.3s;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 12px;
  z-index: 1002;
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  color: var(--blue);  
}  

.active {
  display: flex;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .michelin {
    display: block;
  }
  nav {
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
  }
  nav ul {
    flex-direction: row;
    padding-top: 0;
  }
  nav ul .home {
    display: none;
  }

  nav ul li a {
    display: inline-block;
    width: auto;
    padding: 0.375rem 0.75rem;
  }
    .close-btn {
    display: none;
  }  
}

/* footer content */

.logo-address {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  text-transform: uppercase;
  padding: 1rem 3vw;
}

.copyright {
  border-top: double 7px var(--blue-tint);
  display: inline-flex;
  padding: 1rem 3vw;
  font-weight: normal;
}

.copyright a {
  text-decoration: underline;
}

.certification {
  display: flex;
  align-items: center;
  color: var(--michelin-red);
  font-weight: normal;
  margin: 1rem 0;
}

.certification p {
  text-align: left;
  margin-left: 0.5em;
}

.certification strong {
  display: block;
}

.certification img {
  max-height: 65px;
}

behold-widget {
  margin: 2rem 0;
}

.socials, .secondary {
  justify-content: center;
}

footer ul {
  column-gap: 1rem;
}

footer ul li p {
  margin: 0 .025rem;
}

/* main content */

body > main {
  display: grid;
  grid-template-columns:
  1fr
  min(90rem, 100%)
  1fr;
}

body > main > *, .main_content > *  {
  grid-column: 2;
}

.main_content {
  display: grid;
  grid-template-columns:
  1fr
  min(50rem, 100%)
  1fr;
  justify-self: center;
}

.full-bleed, body > main > header, body.subpage > main > header {
  width: 100%;
  grid-column: 1 / -1;
}

footer {
  display: grid;
  row-gap: 1rem;  
  margin: 1rem;
  max-width: 80em;
  justify-items: center;
  justify-self: center;
  font-size: var(--font-small);
  border-top: solid 4px var(--blue);
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: -16px;
  border-top: solid 4px var(--blue);
  left: 0;
  right: 0;
}

.page_home .content, .page .content {
  display: grid;
  row-gap: 1rem;
}

.subpage main button {
  width: 100%;
  display: block;
  font-size: 0.85em; 
}

@media screen and (min-width: 700px) {
  .subpage main button  {
    width: auto;
  }
}

button a {
  text-decoration: none;
}


.section-panel {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2em;
}

.section-panel p {
  text-align: justify;
  text-align-last: center;
  text-wrap: pretty;
}

.section-panel h2 {
  margin: 0;
}

@media screen and (min-width: 900px) {
  .section-panel p {
    font-size: clamp(1em, 1.5vw, 1.25em);    
  }
}

/* section panels */

.section-panel img {
  filter: opacity(80%);
  height: 100%;
  object-fit: cover;
}

.section-panel .image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;  
  background: var(--blue);
  overflow: hidden;
}

.page_meet-the-team .section-panel .image {
  grid-row: 2 / 3;
}

.page_meet-the-team .section-panel .text {
  grid-row: 3 / 4;
}

.page .section-panel .image {
  aspect-ratio: 16/9;
  display: flex;
  place-items: center;  
}

.section-panel .title {
  grid-row: 1 / 2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;    
}

.section-panel .text {
  grid-row: 2 / 3;
  grid-column: 1/2;
  text-align: center;
  z-index: 2;
}

.section-panel .text a, .section-panel .title a {
  text-decoration: none;
}

.section-panel h2 {
  color: var(--white);
  text-shadow: var(--shadow-medium);
  letter-spacing: var(--spacing-larger);
  font-size: 2.25em;
  position: relative;
  text-align: center;
  font-size: clamp(1.5em, 8vw, 5em);
}

.page_meet-the-team .section-panel h2 {
  color: var(--blue);
  font-size: 1.5em;
  text-shadow: none;
}

@media screen and (min-width: 900px) {
  .page_home .section-panel {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }  

  .page .section-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: relative;
    aspect-ratio: 16/9;    
    max-height: 450px;
    width: 100%; 
    overflow: hidden;
    margin: 0;   
  }  

  .page .section-panel h2, .page .section-panel a {
    color: var(--white);
    text-shadow: var(--shadow-heavy);
  }

  .page_home .section-panel .image {
    grid-row: 1 / 3;
    grid-column: 1/2;  
  }

  .page .content {
    padding: 0;
    row-gap: 2rem !important;
    max-width: 1400px;
    justify-self: center;
    width: 100%
  }

  .page .section-panel .image, .page .section-panel .image img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .page .section-panel .image img {
    opacity: 80%;
  }
  
  .page_home .section-panel .title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;  
    align-self: end;
    margin: 2rem 2rem 0 2rem;    
  }

  .page .section-panel .text {
    max-width: 50rem;
  }
  
  .page_home .section-panel .text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;  
    text-align: center;
    margin: 0 2rem 2rem 2rem;
  }  

  .section-panel h2 {
    color: var(--blue);
    text-shadow: none;
    font-size: clamp(1.5em, 3.5vw, 2.5em);
  }  

  .page_home .section-panel:nth-child(even) .image {
    grid-row: 1 / 3;
    grid-column: 2 / 3;  
  }
  .page_home .section-panel:nth-child(even) .title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;  
  }
  .page_home .section-panel:nth-child(even) .text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
  }
}

.section-content {
  grid-column: 1 / -1;
}

/* meet the team panels */




/* typography */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: var(--spacing-largest);
  line-height: 1.2;
  text-wrap: balance;  
}

h1, h2 {
  text-transform: uppercase;
}

.page .content_text h2 {
  margin: 3em 0 1em 0;
  text-wrap: unset;  
}

.subpage h2 {
  text-align: center;
}

main p, main ul {
  font-size: var(--font-resp-medium);
}

footer p, footer li {
  line-height: 1.25;
}

hr {
  border: 3px solid var(--blue-tint);
  margin: 1.5rem 0;
}

.page_our-rooms .page_copy > p, .page_food-and-drink .page_copy > p {
  text-align: center;
  text-wrap: balance;
}

nav a {
  text-decoration: none;
}

nav li {
  font-size: 1em;
  letter-spacing: var(--spacing-medium);
}

a {
  color: var(--blue);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 2px;
}

.logo-address a {
  text-decoration: none;
}


/* button, links */

.cta {
  background: var(--blue);
  color: var(--light);
  font-size: 0.8em;
  padding: 0.85em 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: inline-block;
}

.cta::after {
  content: '→';
  margin-left: 0.5em;
  font-size: 1.25em;
  transition: all 0.1s ease-out;
}

.cta:hover::after {
  margin-left: 0.75em;
}

.content {
  padding: 1.5rem;
}

.main_content {
  max-width: 85rem;
  padding: 1.5rem;
}

.main_content, .content_primary {
  padding: 1.5rem;
  /* overflow: hidden; */
}
/* 
.page_privacy-policy .main_content {
  max-width: 50rem;
}
 */

body > main .swiper {
  margin-left: unset;
  margin-right: unset;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  /* grid-column: 1/-1; */
}

.breadcrumbs {
  list-style-type: none;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  order: -3;
  grid-column: 1 / -1 !important;
}

.breadcrumbs li {
  display: inline;
  font-size: 1rem;
  margin-bottom: 0 !important;
  font-size: 0.8rem;  
  text-transform: uppercase;
}

.breadcrumbs li a {
  text-underline-offset: 0.3em;
}

.breadcrumbs li:not(:first-child)::before {
  content: '> ';
  font-size: 0.9rem;
} 

.breadcrumbs a {
  text-decoration: underline;
}

/* body.subpage h2 {
  font-size: clamp(1.75em, 4vw, 2.85em);
  letter-spacing: var(--spacing-largest);
  text-shadow: var(--shadow-medium);
  margin: 1em auto 0.25em auto;
  max-width: 40ch;
  display: flex;
  align-items: center;
}


body.subpage h2::before, body.subpage h2::after {
  background: rgba(255,255,255,0.5);
  height: 2px;
  flex: 1;
  content: '';
} */


body.subpage main ul:not(.swiper-wrapper, .breadcrumbs) {
  width: min(50rem, 100%);
  margin: auto;
  text-align: left;
  /* font-size: clamp(1em, 2vw, 1.25em); */
  /* padding-left: 1em;  */
}

body.subpage main ul:not(.breadcrumbs) li {
  line-height: 1.5;
  text-align-last: left;
}

body.subpage a {
  color: var(--white);
}

body.subpage ul a:has(button) {
  text-decoration: none;
}

.subpage .certification p {
  color: var(--white);
}

/* homepage header */

main > header {
  overflow: hidden;
  display: flex;
  place-items: center;  
}

.page_home main header {
  max-height: 20em;
}

.logo {
  position: absolute;
  height: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  filter:  brightness(0) invert(1);
}

.hero {
  width: 100%;
}

body > header {
  position: relative;
}

/* other headers */

body > main > header {
  max-height: 450px;
  position: relative;
  background-color: var(--blue);
  background: url(/assets/img/logo-r-bg.svg) no-repeat center center var(--blue);
  background-size: cover;
}

body > main > header:not(:has(img)) {
  aspect-ratio: 16/9;
}

h3, h4 {
  text-align: center;
  font-size: 1.75em;
}

/* secondary content pages */

.page_privacy-policy {

}

/* menu sections */

.page_gallery .content_gallery ul {
  list-style-type: none;
  padding: 0;
}

.gallery-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 1400px;
  margin: 2rem auto;
}

.gallery-wrapper img {
  width: 100%;
}

.content_sub {
  order: -2;
  grid-column: 1 / -1 !important;
}

.gallery li {
  flex-basis: 100%;
}

.subpage h3 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: var(--spacing-large);
}

.subpage h3:first-child {
  margin-top: 0;
}

/* .content_text ul {
  display: inline-flex;
  padding: 0;
  list-style-type: none;
  column-gap: 1rem;
  font-size: 0.85em;
  flex-wrap: wrap;
} */

.content_text ul {
  list-style-position: inside;
  padding: 0;
}

p:has(button) a {
  text-decoration: none;
}

.content-text ul li a {
  text-decoration: none !important;
}

.content-text ul li a button {
  font-size: 0.9rem !important;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .page_gallery .main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;
    padding-left: 0;
  }

  .subpage.page_gallery .breadcrumbs {
    margin-left: 1.5rem;
  }

  .page_gallery .content_text, .page_gallery .content_gallery {
    position: sticky;
    top: 0;
  }

  .page_gallery .content_gallery ul {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery li:nth-child(3n+2), .gallery li:nth-child(3n+3) {
    flex-basis: 50%;
  }

  .gallery li:nth-child(3n+2):last-child {
    flex-basis: 100%;
  }




  .page_gallery .content_gallery {
    order: -1;
  }
  .page_gallery .main_content > * {
    grid-column: unset;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 2rem;
  grid-column: 1 / -1;
  margin: 2rem 0;
}

.menu ul {
  padding-left: 0;
  line-height: 1.2;
  list-style-type: none;
}
.menu ul li {
  position: relative;
  padding-right: 4em;
  margin: 0.75rem 0;
  font-size: 0.95rem;
  letter-spacing: var(--spacing-medium);
}

.subpage_food-and-drink .menu ul li {
  padding-right: 0;
}

.menu p {
  font-size: 0.95rem;
  letter-spacing: normal;
  letter-spacing: var(--spacing-medium);
}

.menu h3 {
  letter-spacing: var(--spacing-medium);  
}

.menu-text p {
  font-size: 0.95rem;
  text-align: center;
  letter-spacing: normal;
}

.menu li strong {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-intro {
  text-align: center;
}

.menu h2, .menu h3 {
  text-transform: capitalize;
  text-align: left;
  margin-top: 0;
} 

.page_cafe h2 {
  margin: 1rem 0;
}

.menu h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

.page_home .image img {
  object-fit: cover;
  height: 100%;
}

.page .page_copy {
  padding: 1.5rem;
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: min(100%, 50em);  
}

#qbg_booking_date_number_from_front, .submitbtn input[type="submit"].qbg_options_customizer_forms, .qbg_options_second_font, .qbg_options_customizer_fonts.qbg_options_second_font, .qbg_options_customizer_fonts label, .qbg_options_customizer_fonts input {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif !important;
}
 
body.subpage main {
  letter-spacing: var(--spacing-larger);
  line-height: 1.85;
}

h1 {
  margin: 2rem 0 0;
}

header > a {
  font-weight: bold;
  font-weight: 500;
  font-size: 2.25em;
  text-decoration: none;
  letter-spacing: -0.02em;  
}

header > a span {
  letter-spacing: -0.08em;
}

header a {
  color: var(--blue);
}

h1 {
  text-shadow: var(--shadow-medium);
}

body > header a {
  color: var(--blue) !important;
}

header ul, footer ul, .clients ul {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

main li:has(figure) {
  list-style-type: none;
  padding: 0;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.text-width {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

input, textarea {
  display: block;
}

details {
  position: relative;
}

details span {
  content: '“';
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 0; /* Prevents extra line height */
  vertical-align: middle; /* Aligns the quote vertically */  
}

.testimonials img {
  max-height: 120px;
  border-radius: 50%;
}

summary {
  cursor: pointer;
  text-decoration: underline;
}

summary::marker, ::-webkit-details-marker {
  display: none;
  content: "";
}

/* home page  */

.section-block {
  text-align: center;
  text-decoration: uppercase;
  text-transform: uppercase;
  margin-bottom: 2em;
  letter-spacing: 0.085em;
  text-wrap: balance;
  padding: 0 0.5em;
}

.section-block h2 {
  margin: 0;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  text-align: center;
  color: var(--white);
  font-size: clamp(1.85em, 6vw, 5em);
  width: 100%;
}

.newsletter {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
}

.newsletter h4 {
  flex-basis: 100%;
}

.newsletter input, .newsletter button {
  flex-basis: clamp(4em, 30%, 12em);
}

input {
  background: var(--blue-tint);
  border: 0;
  padding: 1em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif;   
}

button {
  background: var(--blue);
  border: 0;
  padding: 1em 2em;
  color: var(--white);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif;
  text-transform: uppercase;
  letter-spacing: var(--spacing-largest);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-out;
  padding-left: clamp(0.2em,3vw,4em);
  padding-right: clamp(0.2em,3vw,4em);
  line-height: 1.25;
}

.page-panel p {
  font-size: clamp(1em, 2.5vw, 1.25em);
  max-width: 55ch;
  margin: 1em;
}

.page-panel h2 {
  border-bottom: double 7px var(--white);
}

h4 {
  font-size: 1.25em;
  letter-spacing: var(--spacing-larger);  
}

.copy {
  display: grid;
  align-content: center;
  text-align: center;
}

.copy p {
  text-transform: uppercase;
  display: block;
  text-wrap: balance;
  text-justify: inter-word;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* navaroonie */

main {
  margin-bottom: 4em;
}

.subpage button {
  font-size: 1em;
}

.subpage a:has(> button) {
  align-self: center;
  padding: 2rem;
}

.subpage button:not(.hamburger)::after{
  content: "→" !important;
  margin-left: 0.2em;
}
