:root {
  --light: oklch(1 0 0); /* white */
  --dark: oklch(0 0 0); /* black */
  --blue: rgba(37, 41, 68, 1);
  --blue-tint: rgba(37, 41, 68, 0.1);
  --michelin-red: rgba(189, 35, 52, 1);
  --white: rgba(255, 255, 255, 1);
  --orange: rgba(162, 62, 26, 1);
  --lightblue: rgba(101, 131, 155, 1);
  --beige: rgba(223, 201, 116, 1);
  --green: rgba(120, 134, 108, 1);


  --font-smaller: 0.7em;
  --font-small: 0.85em;
  --font-resp-small: clamp(0.95em, 1.9vw, 1em);
  --font-resp-medium: clamp(1em, 2vw, 1.125em);
  --spacing-medium: 0.025em;
  --spacing-large: 0.05em;
  --spacing-larger: 0.075em;
  --spacing-largest: 0.1em;
  --shadow-medium: 1px 1px 8px rgba(0,0,0,0.35);
  --shadow-heavy: 1px 1px 32px rgba(0,0,0,0.85), 1px 1px 48px rgba(0,0,0,0.35);  
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothic.ttf') format('ttf');
}

@font-face {
  font-family: CenturyGothic;
  src: url('/assets/fonts/CenturyGothicBold.ttf') format('ttf');
  font-weight: 700;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100dvh;
  overflow-x: hidden;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif; 
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: var(--spacing-large);
  background: var(--light);
  color: var(--blue);
}

img, svg {
  display: block;
  max-width: 100%;
}

img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

input, button, textarea, select {
  font: inherit;
}

/* themed sections  */

.subpage_food-and-drink hr {
  border-color: rgba(255,255,255,0.2);
}

body.subpage_our-rooms {
  background: var(--blue);
}

body.subpage_food-and-drink {
  background: var(--orange);
}

body.subpage_food-and-drink {
  background: var(--orange);
}

body.subpage {
  color: var(--white);
}

body.subpage footer, body.subpage footer a {
  color: var(--white);
}

body.subpage footer img[src$=".svg"] {
  filter: brightness(0) invert(1);
}

body.subpage footer, body.subpage .copyright {
  border-color: rgba(255,255,255,0.1);
}

body.subpage button {
  background: var(--white);
  color: var(--blue);  
}

body.subpage input {
  background: rgba(255,255,255,0.3);  
}

body.subpage_weddings {
  background: var(--light);
  color: var(--dark)
}

/* header */

body > header {
  padding: 0.5rem 1rem;
  background: var(--light);
  color: var(--blue);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

body > header img {
  padding: 0.25rem;
}

.michelin {
  transform: rotate(4deg);
  max-height: 90px;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  z-index: 1;
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  top: 32px;
  right: 10px;  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  transition: 0.5s;
  flex-direction: column;
}

nav a {
  width: 100%;
}

nav ul {
  width: 100%;
}

nav ul {
  margin: 0;
  flex-direction: column;
  padding-top: 30px;
  /* overflow-x: scroll;
  flex-wrap: nowrap;   */
}

nav ul li {
  flex-shrink: 0;
}

nav ul li a {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  padding: 1rem 2rem;
}

/* HAMBURGER MENU (for mobile) */
.hamburger {
  position: absolute;
  top: 16px;
  right: 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1002;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--blue);
  transition: 0.3s;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 12px;
  z-index: 1002;
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  color: var(--blue);  
}  

.active {
  display: flex;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .michelin {
    display: block;
  }
  nav {
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
  }
  nav ul {
    flex-direction: row;
    padding-top: 0;
  }
  nav ul .home {
    display: none;
  }

  nav ul li a {
    display: inline-block;
    width: auto;
    padding: 0.375rem 0.75rem;
  }
    .close-btn {
    display: none;
  }  
}

/* footer content */

.logo-address {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  text-transform: uppercase;
  padding: 1rem 3vw;
}

.copyright {
  border-top: double 7px var(--blue-tint);
  display: inline-flex;
  padding: 1rem 3vw;
  font-weight: normal;
}

.copyright a {
  text-decoration: underline;
}

.certification {
  display: flex;
  align-items: center;
  color: var(--michelin-red);
  font-weight: normal;
  margin: 1rem 0;
}

.certification p {
  text-align: left;
  margin-left: 0.5em;
}

.certification strong {
  display: block;
}

.certification img {
  max-height: 65px;
}

behold-widget {
  margin: 2rem 0;
}

.socials, .secondary {
  justify-content: center;
}

footer ul {
  column-gap: 1rem;
}

footer ul li p {
  margin: 0 .025rem;
}

/* main content */

body > main {
  display: grid;
  grid-template-columns:
  1fr
  min(90rem, 100%)
  1fr;
}

body > main > *, .main_content > *  {
  grid-column: 2;
}

.main_content {
  display: grid;
  grid-template-columns:
  1fr
  min(50rem, 100%)
  1fr;
}

.full-bleed, body > main > header, body.subpage > main > header {
  width: 100%;
  grid-column: 1 / -1;
}

footer {
  display: grid;
  row-gap: 1rem;  
  margin: 1rem;
  max-width: 80em;
  justify-items: center;
  justify-self: center;
  font-size: var(--font-small);
  border-top: double 7px var(--blue-tint);
}

.page_home .content, .page .content {
  display: grid;
  /* grid-auto-rows: 1fr; */
  row-gap: 1rem;
}
/* 
.content_primary {
  display: flex;
  flex-direction: column;
  justify-self: center;
} */

.subpage main button {
  margin: auto;
  display: block;
}

.section-panel {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2em;
}

.section-content {
  grid-column: 1 / -1;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: var(--spacing-largest);
  line-height: 1.2;
  text-wrap: balance;  
}

h1, h2 {
  text-transform: uppercase;
}

/* h2 {
  text-transform: uppercase;
  margin: 0;
} */

main p, main ul {
  font-size: var(--font-resp-medium);
}

footer p, footer li {
  line-height: 1.25;
}

hr {
  border: 3px solid #65839b;
  margin: 1.5rem 0;
}

.section-panel p {
  text-align: justify;
  text-align-last: center;
  text-wrap: pretty;
}

.section-panel h2 {
  margin: 0;
}

.page_our-rooms .page_copy > p, .page_food-and-drink .page_copy > p {
  text-align: center;
  text-wrap: balance;
}

@media screen and (min-width: 900px) {
  .section-panel p {
    font-size: clamp(1em, 1.5vw, 1.25em);    
  }
}

nav a {
  text-decoration: none;
}

nav li {
  font-size: 1em;
  letter-spacing: var(--spacing-medium);
}

a {
  color: var(--blue);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 2px;
}

.logo-address a {
  text-decoration: none;
}


/* button, links */

.cta {
  background: var(--blue);
  color: var(--light);
  font-size: 0.8em;
  padding: 0.85em 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: inline-block;
}

.cta::after {
  content: '→';
  margin-left: 0.5em;
  font-size: 1.25em;
  transition: all 0.1s ease-out;
}

.cta:hover::after {
  margin-left: 0.75em;
}

.content {
  padding: 1.5rem;
}

.main_content {
  max-width: 85rem;
  padding: 1.5rem;
}

.main_content, .content_primary {
  padding: 1.5rem;
  /* overflow: hidden; */
}

.page_privacy-policy .main_content {
  max-width: 50rem;
}


body > main .swiper {
  margin-left: unset;
  margin-right: unset;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  /* grid-column: 1/-1; */
}

.breadcrumbs {
  list-style-type: none;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-bottom: 1.5rem;
  grid-column: 2;  
}

.breadcrumbs li {
  display: inline;
  font-size: 1rem;
  margin-bottom: 0 !important;
  font-size: 0.8rem;  
  text-transform: uppercase;
}

.breadcrumbs li a {
  text-underline-offset: 0.3em;
}

.breadcrumbs li:not(:first-child)::before {
  content: '> ';
  font-size: 0.9rem;
} 

.breadcrumbs a {
  text-decoration: underline;
}

/* body.subpage h2 {
  font-size: clamp(1.75em, 4vw, 2.85em);
  letter-spacing: var(--spacing-largest);
  text-shadow: var(--shadow-medium);
  margin: 1em auto 0.25em auto;
  max-width: 40ch;
  display: flex;
  align-items: center;
}


body.subpage h2::before, body.subpage h2::after {
  background: rgba(255,255,255,0.5);
  height: 2px;
  flex: 1;
  content: '';
} */


body.subpage main ul:not(.swiper-wrapper, .breadcrumbs) {
  width: min(50rem, 100%);
  margin: auto;
  text-align: left;
  font-size: clamp(1em, 2vw, 1.25em);
  /* padding-left: 1em;  */
}

body.subpage main ul:not(.breadcrumbs) li {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align-last: left;
}

body.subpage a {
  color: var(--white);
}

.subpage .certification p {
  color: var(--white);
}

/* homepage header */

main > header {
  overflow: hidden;
  display: flex;
  place-items: center;  
}

.page_home main header {
  max-height: 20em;
}

.logo {
  position: absolute;
  height: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  filter:  brightness(0) invert(1);
}

.hero {
  width: 100%;
}

body > header {
  position: relative;
}

/* other headers */

body > main > header {
  max-height: 450px;
  position: relative;
  background-color: var(--blue);
  background: url(/assets/img/logo-r-bg.svg) no-repeat center center var(--blue);
  background-size: cover;
}

body > main > header:not(:has(img)) {
  aspect-ratio: 16/9;
}

h3, h4 {
  text-align: center;
  font-size: 1.75em;
}

/* secondary content pages */

.page_privacy-policy {

}

/* menu sections */

.page_gallery .content_gallery ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .page_gallery .main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;
    padding-left: 0;
  }

  .page_gallery .content_text {
    position: sticky;
    top: 0;
  }

  .page_gallery .content_gallery ul {
    display: flex;
    flex-wrap: wrap;
  }

  .content_gallery li:nth-child(3n+2), .content_gallery li:nth-child(3n+3) {
    width: 50%;
  }

  .page_gallery .content_gallery {
    order: -1;
  }
  .page_gallery .main_content > * {
    grid-column: unset;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 2rem;
  grid-column: 1 / -1;
  margin: 2rem 0;
}

.menu ul {
  padding-left: 0;
  line-height: 1.2;
  list-style-type: none;
}
.menu ul li {
  position: relative;
  padding-right: 4em;
  margin: 0.75rem 0;
  font-size: 0.95rem;
  letter-spacing: var(--spacing-medium);
}

.subpage_food-and-drink .menu ul li {
  padding-right: 0;
}

.menu p {
  font-size: 0.95rem;
  letter-spacing: normal;
  letter-spacing: var(--spacing-medium);
}

.menu h3 {
  letter-spacing: var(--spacing-medium);  
}

.menu-text p {
  font-size: 0.95rem;
  text-align: center;
  letter-spacing: normal;
}
/* 
.menu-text {
  text-align: center;
} */

.menu li strong {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-intro {
  text-align: center;
}

.menu h2, .menu h3 {
  text-transform: capitalize;
  text-align: left;
  margin-top: 0;
} 

.page_cafe h2 {
  margin: 1rem 0;
}

.menu h3 {
  margin-top: 1rem;
  font-size: 1rem;
}


/* section panels */

.section-panel img {
  filter: opacity(80%);
  height: 100%;
  object-fit: cover;
}

.section-panel .image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;  
  background: var(--blue);
  overflow: hidden;
}

.page .section-panel .image {
  aspect-ratio: 16/9;
  display: flex;
  place-items: center;  
}

.section-panel .title {
  grid-row: 1 / 2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;    
}

.section-panel .text {
  grid-row: 2 / 3;
  grid-column: 1/2;
  text-align: center;
  z-index: 2;
}

.section-panel .text a, .section-panel .title a {
  text-decoration: none;
}

.section-panel h2 {
  color: var(--white);
  text-shadow: var(--shadow-medium);
  letter-spacing: var(--spacing-larger);
  font-size: 2.25em;
  position: relative;
  text-align: center;
  font-size: clamp(1.5em, 8vw, 5em);
}

.page_home .image img {
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 900px) {
  .page_home .section-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }  

  .page .section-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: relative;
    aspect-ratio: 16/9;    
    max-height: 450px;
    width: 100%; 
    overflow: hidden;
    margin: 0;   
  }  

  .page .section-panel h2, .page .section-panel a {
    color: var(--white);
    text-shadow: var(--shadow-heavy);
  }

  .page_home .section-panel .image {
    grid-row: 1 / 3;
    grid-column: 1/2;  
  }

  .page .content {
    padding: 0;
    row-gap: 2rem !important;
    max-width: 1400px;
    justify-self: center;
    width: 100%
  }

  .page .section-panel .image, .page .section-panel .image img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .page .section-panel .image img {
    opacity: 80%;
  }
  
  .page_home .section-panel .title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;  
    align-self: end;
    margin: 2rem 2rem 0 2rem;    
  }

  .page .section-panel .text {
    max-width: 50rem;
  }
  
  .page_home .section-panel .text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;  
    text-align: center;
    margin: 0 2rem 2rem 2rem;
  }  

  .section-panel h2 {
    color: var(--blue);
    text-shadow: none;
    font-size: clamp(1.5em, 3.5vw, 2.5em);
  }  

  .page_home .section-panel:nth-child(even) .image {
    grid-row: 1 / 3;
    grid-column: 2 / 3;  
  }
  .page_home .section-panel:nth-child(even) .title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;  
  }
  .page_home .section-panel:nth-child(even) .text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
  }
}

/* 
.page .section-panel {
  max-height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

@media screen and (min-width: 900px) {
  .page .section-panel  {
    aspect-ratio: 16 / 9;
    min-height: none;
  }
  .page .section-panel .image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);  
  }  
} */

/* .page .section-panel .title, .page .section-panel .text {
  z-index: 2;
  text-align: center;
}

.page .section-panel a {
  color: var(--white);
}

.page .section-panel h2 {
  font-size: clamp(1.5em, 4vw, 3.5em); 
}

.page .section-panel .image img {
  width: 100%;
  mask-image: linear-gradient(to top, rgba(0,0,0,0.4) 20%, rgb(0, 0, 0));
} */

/* Let SVG scale without boundaries */
/* img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
} */

/* body copy  */

/* .content_primary p, .content_secondary p, .page_copy p {
  font-size: clamp(1em, 2vw, 1.25em);     
  text-align: justify;
  text-align-last: center;  
  text-justify: inter-character;
  text-wrap: pretty;
  max-width: 80ch;
  align-self: center;
} */

.subpage_our-rooms .content_primary p:first-of-type, .subpage_our-rooms .page_copy p:first-of-type {
  font-size: clamp(1em, 2.5vw, 1.55em);
  text-transform: uppercase;
  text-align: justify;
  text-align-last: center;
  max-width: 70rem;
  margin: 3rem auto;  
}

.page .page_copy {
  padding: 1.5rem;
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: min(100%, 50em);  
}

#qbg_booking_date_number_from_front, .submitbtn input[type="submit"].qbg_options_customizer_forms, .qbg_options_second_font, .qbg_options_customizer_fonts.qbg_options_second_font, .qbg_options_customizer_fonts label, .qbg_options_customizer_fonts input {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif !important;
}
 

/* older content */

/* .content_primary p, .content_secondary p, .page_copy p {
  font-size: clamp(1em, 2vw, 1.25em);     
  text-align: justify;
  text-align-last: center;  
  text-justify: inter-character;
  text-wrap: pretty;
  max-width: 80ch;
  align-self: center;
} */

body.subpage main {
  letter-spacing: var(--spacing-larger);
  line-height: 1.85;
}

/* main header {
  /* margin-left: -1rem;
  margin-right: -1rem;
  position: relative; */
  /* background: #252944; */
  /* position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;  
  overflow-y: clip;
  margin-bottom: 1rem;
  background: var(--blue);
  color: var(--white);
  aspect-ratio: 16 / 9;
  max-height: 450px;  
} */

h1 {
  margin: 2rem 0 0;
}

header > a {
  font-weight: bold;
  font-weight: 500;
  font-size: 2.25em;
  text-decoration: none;
  /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important; */
  letter-spacing: -0.02em;  
}

header > a span {
  letter-spacing: -0.08em;
}

header a {
  color: var(--blue);
}

h1 {
  text-shadow: var(--shadow-medium);
}

body > header a {
  color: var(--blue) !important;
}

header ul, footer ul, .clients ul {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.clients ul {
  column-gap: 4rem;
  justify-content: center;
  row-gap: 2rem;
}

main li:has(figure) {
  list-style-type: none;
  padding: 0;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

/* .page_gallery main {
  max-width: none;
}

.page_gallery figure {
  margin-top: 1rem;
}

.page_gallery figure img {
  margin-top: -3rem;
}

.page_gallery figcaption {
  position: sticky;
  top: 1rem;
  margin: 0 0 0 1rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  background: white;
  display: inline-block;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;  
}

figure {
  margin: 0;
} */

@keyframes image-slide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-45%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    opacity: 0.2;
  }
}

/* @keyframes image-fade {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
} */

.clients figure {
  height: 5.75rem;
  text-align: center;
  font-size: 0.6em;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.clients figure img {
  position: relative;
  z-index: 1;
}

.clients li a {
  position: relative;
}

.text-width {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.gallery-images {
  margin: 0 -2rem;
  padding: 0;
}

.gallery-images figure {
  display: flex;
  flex-direction: column;
}

.store-stones-desktop img {
  max-width: 1200px;
}

/* .clients li a:after {
  content: "→";
  position: absolute;
  top: -50%;
  transform: translate(-50%,-50%);
} */

.clients img {
  aspect-ratio: 16/9;
}

.clients .aspect-4-3 img {
  aspect-ratio: 4/3;
}

/* main a, summary::after {
  color: blue;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.15em;
  text-decoration-color: aqua;
  text-decoration-skip-ink: auto;
  transition: text-decoration-thickness 300ms, text-underline-offset 300ms;
} */

/* main a:hover {
  text-underline-offset: -0.85em;
  text-decoration-thickness: 1em;
  text-decoration-skip-ink: none;  
} */

/* header > a {
  white-space: nowrap;
} */

/* h1, h2, h3, h4 {
  margin: 0 0 0.25rem 0;
  letter-spacing: -0.035em;
} */

input, textarea {
  display: block;
}
/* 
section h2 {
  grid-column: 1/-1;  
} */

/* .testimonials article p:nth-child(2)::before,  */

details {
  position: relative;
}



details span {
  content: '“';
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 0; /* Prevents extra line height */
  vertical-align: middle; /* Aligns the quote vertically */  
}

.testimonials img {
  max-height: 120px;
  border-radius: 50%;
}

summary {
  cursor: pointer;
}

summary::marker, ::-webkit-details-marker {
  display: none;
  content: "";
}

/* summary::after {
  content: ""; 
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;  
  transform: rotate(-45deg);
} */

summary::after {
  content: "show more↓";
  font-size: 0.75em;
  display: block;
  line-height: 2;
  /* position: relative;
  left: -0.275em;   */
}

details[open] summary::after {
  content: "show less↑";
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
}

details[open] + p {
  margin-top: 3rem;
}

.testimonials {
  text-align: center;
  font-size: 0.9em;
}

/* .testimonials article p:first-of-type {
  margin: 0;
} */
/* 
.testimonials p, .testimonials summary {
  margin: 1rem 0;
}

.testimonials p:nth-child(1) {
  margin: 0;
} */

.testimonials article:has(details[open]) {
  display: flex;
  flex-direction: column;
}

article {
  margin-bottom: 4rem;
}

/* details[open] summary {
  width: 0;
  height: 0;
}

details[open] summary {rticle
  visibility: hidden;
} */

/* details[open] summary::marker {
  display: block;
} */

.testimonials img {
  margin: 0 auto;
}

@media screen and (min-width: 39.5em) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;    
    /* grid-auto-rows: auto; */
    column-gap: 2rem;
    align-items: start;
  }
  
  .testimonials article {
    display: grid;
    grid-column: span 6;    
    grid-row: span 3;
    grid-template-rows: auto auto 1fr;         
    margin-bottom: 4rem;
  }

  /* 2 column layout */
  /* Dealing with single orphan */
  article:last-child:nth-child(2n + 1) {
    grid-column-end: 10;
  }


  @supports (grid-template-rows: subgrid) {
    .testimonials article {
      grid-row: span 3;
      grid-template-rows: subgrid;
    }
  }
}

@media screen and (min-width: 60em) {
  .testimonials article {
    grid-column: span 4;   
  }

  /* 3 column layout */
  /* Dealing with 2 orphan items */
  article:last-child:nth-child(3n - 1) {
    grid-column-end: -3;
  }

  article:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 7;
  }

  /* Dealing with single orphan */
  article:last-child:nth-child(3n - 2) {
    grid-column-end: 9;
  }  

  /* hmmmmm... */
  article:last-child:nth-child(2n + 1) {
    grid-column-end: -1;
  }  

  article:last-child:nth-child(3n + 2) {
    grid-column-end: 11;
  } 
}

p.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  letter-spacing: -0.02em;
}

.small {
  font-size: 0.7em;
  /* line-height: 1.2; */
}

.small strong {
  line-height: 1.85;
}

.page_articles article p {
 margin: 0.5rem 0;
}

.page_articles article p:first-of-type a {
  color: inherit;
  text-decoration: none;
 }

.page_articles article {
  display: grid;
  margin-bottom: 2rem;
}

time {
  order: -1;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media only screen and (min-width: 95ch) {
  .page_articles section {
    display: grid;
    column-gap: 1.5rem;  
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr auto auto auto;
  }

  .page_articles article {
    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;
  }
  time {
    font-size: 0.8rem;
  }
}

.links-nextprev {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 4em;
  padding-top: 2em;
  font-size: 0.85em;
}

.links-nextprev li {
  list-style-type: none;
}

.links-nextprev a {
  font-size: 1.5em;
  font-weight: 500;
}

.links-nextprev-next {
  text-align: right;
}

.links-nextprev-next {
  margin-left: auto;
}

.page_post main {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto auto 1fr auto; */
}

/* home page  */

.section-block {
  text-align: center;
  text-decoration: uppercase;
  text-transform: uppercase;
  margin-bottom: 2em;
  letter-spacing: 0.085em;
  text-wrap: balance;
  padding: 0 0.5em;
}

.section-block h2 {
  margin: 0;
}

/* @media screen and (min-width: 50em) {
  .page_home main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

/* 
.hero {
  transform: translateY(-25%);
} */

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  text-align: center;
  color: var(--white);
  font-size: clamp(1.85em, 6vw, 5em);
  width: 100%;
}

.newsletter {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
}

.newsletter h4 {
  flex-basis: 100%;
}

.newsletter input, .newsletter button {
  flex-basis: clamp(4em, 30%, 12em);
}

input {
  background: var(--blue-tint);
  border: 0;
  padding: 1em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif;   
}

button {
  background: var(--blue);
  border: 0;
  padding: 1em 2em;
  color: var(--white);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif;
  text-transform: uppercase;
  letter-spacing: var(--spacing-largest);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-out;
  padding-left: clamp(1em,5vw,4em);
  padding-right: clamp(1em,5vw,4em);
}

.page-panel p {
  font-size: clamp(1em, 2.5vw, 1.25em);
  max-width: 55ch;
  margin: 1em;
}

.page-panel h2 {
  border-bottom: double 7px var(--white);
}

h4 {
  font-size: 1.25em;
  letter-spacing: var(--spacing-larger);  
}

.page-panel .text {
  /* margin-bottom: 2em; */
}

.copy {
  display: grid;
  align-content: center;  
  text-align: center;
}

.copy p {
  text-transform: uppercase;
  display: block;
  text-wrap: balance;
  text-justify: inter-word;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* navaroonie */

main {
  margin-bottom: 4em;
}


/* Start Content page layout and text */

h2 {
  text-align: center;
}


/* .content_primary, .content_secondary {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3em 2em;
} */

/* .content_primary .intro {
  order: 1;
}

.content_primary .swiper {
  order: 2;
}

.content_primary .list {
  order: 3;
} */

.subpage button {
  font-size: 1em;
}

.subpage a:has(> button) {
  align-self: center;
  padding: 2rem;
}

.swiper-wrapper {
  padding-left: 0;
  margin: 0 !important;
}

.swiper-slide-thumb-active img {
  border: 2px solid var(--white);
}

.page_cafe .swiper-slide-thumb-active img {
  border: 4px solid #65839b;
}

.swiper-button-prev::after, .swiper-button-next::after{
  content: "←" !important;
  font-size: clamp(1em,5vw,4em) !important;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, sans-serif !important;
}

.swiper-button-next::after{
  content: "→" !important;
}

.subpage button:not(.hamburger)::after{
  content: "→" !important;
  margin-left: 0.2em;
}


/* End Content page layout and text */


.swiper-wrapper {
  padding: 0;
}
